/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
}

body {
  font-size: 1.6rem;
  font-family: "Roboto", sans-serif;
}

.container {
  width: 1400px;
  max-width: calc(100% - 135px);
  margin-left: auto;
  margin-right: auto;
}

.top-bar {
  display: flex;
  padding: 30px 0px;
  justify-content: space-between;
  align-items: center;
}

.Taskbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px;
}

.Taskbar__search {
  width: 400px;
  display: flex;
  border: 1px solid #ccc;
  border-radius: 20px;
  padding: 5px;
}

.Taskbar__search button {
  background: none;
  border: none;
  cursor: pointer;
}

.Taskbar__search input {
  border: none;
  outline: none;
  padding: 5px;
  flex: 1;
}

.Taskbar__redirect {
  display: flex;
  gap: 10px;
}

.Taskbar__redirect .btn {
  padding: 10px 15px;
  border: none;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
  transition: 0.3s;
  font-weight: 600;
}

.Taskbar__redirect .btn:hover {
  opacity: 0.8;
}

.Taskbar__redirect .btn.login-btn {
  font-size: 14px;
  font-weight: 600;
  border-radius: 99px;
  background-color: #007bff;
  color: white;
}

.Taskbar__redirect .btn.register-btn {
  background: transparent;
  font-size: 14px;
  font-weight: 600;
  color: black;
}

.redirect__list {
  display: flex;
  gap: 20px;
}

.bog-1 {
  width: 100%;
  height: 300px;
  background-color: #0093E9;
  background-image: linear-gradient(160deg, #0093E9 0%, #80D0C7 100%);
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 20px;
  font-weight: bold;
  border-radius: 20px;
}

.bog-1__content {
  margin-left: 50px;
}

.bog-1__content h2 {
  font-size: 30px;
  font-weight: 900;
  color: white;
}

.bog-1__content p {
  margin-top: 23px;
  color: white;
  font-size: 18px;
  font-weight: 300;
}

.bog-1__content button {
  margin-top: 23px;
  padding: 7px 15px;
  font-weight: 700;
  color: white;
  border: 2px solid white;
  background: transparent;
  border-radius: 30px;
}

.bog-1__content button:hover {
  background: white;
  border: 2px solid transparent;
  color: #0093E9;
}

.bog-1__image img {
  width: 600px;
  height: 300px;
}

.register-modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  z-index: 1000;
}

.register-modal h2 {
  text-align: center;
}

.register-modal .icon-input {
  width: 100%;
  margin: 5px 0;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.register-modal button {
  width: 100%;
  padding: 10px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.register-modal button:hover {
  background-color: #0056b3;
}

.hidden {
  display: none;
}

/*# sourceMappingURL=main.css.map */