<header id="header" class="header">
    <div class="container">
        <div class="Taskbar">
            <div class="Taskbar__logo">
                <p>Bảo</p>
            </div>
            <div class="Taskbar__search">
                <input type="text" id="searchInput" placeholder="Tìm kiếm...">
                <button id="searchButton">🔍</button>
            </div>
            <div class="Taskbar__redirect">
                <span id="user-info"></span>
                    <span id="user-info"></span>
                    <button id="open-register" class="btn register-btn">Đăng ký</button>
                    <button id="open-login" class="btn login-btn">Đăng nhập</button>
                    <button class="btn logout-btn" id="logout-btn" style="display: none;">Đăng Xuất</button>
            </div>
        </div>
    </div>

    <!-- Slider -->
    <div class="container">
        <div class="conten">
            <div class="swiper">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <div class="bog-1">
                            <div class="bog-1__content">
                                <h2>Khóa Học HTML & CSS Cho Người Mới</h2>
                                <p>Học HTML & CSS từ cơ bản đến nâng cao.</p>
                                <button class="bog-1__button">Xem Khóa Học</button>
                            </div>
                            <div class="bog-1__image">
                                <img src="assets/img/html-va-css-buoc-khoi-dau-de-lap-trinh-mot-website-removebg-preview.png"
                                    alt="HTML & CSS Course">
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="bog-1">
                            <div class="bog-1__content">
                                <h2>Khóa Học HTML & CSS Cho Người Mới</h2>
                                <p>Học HTML & CSS từ cơ bản đến nâng cao.</p>
                                <button class="bog-1__button">Xem Khóa Học</button>
                            </div>
                            <div class="bog-1__image">
                                <img src="assets/img/html-va-css-buoc-khoi-dau-de-lap-trinh-mot-website-removebg-preview.png"
                                    alt="HTML & CSS Course">
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Nút điều hướng -->
                <div class="swiper-button-prev"></div>
                <div class="swiper-button-next"></div>
            </div>
        </div>
    </div>
</header>